.allFont {
    color: #FFFFFF;
}

.centerText {
    text-align: center;
}

.parentGrid {
    background-color: #53718A;
}

.matchButton {
    color: #FFFFFF !important;
    background-color: #D288A2 !important;
    width: 250px;
    margin: 3% !important;
}

.unmatchButton {
    color: #FFFFFF !important;
    background-color: #FF5252 !important;
    width: 250px;
    margin: 3% !important;
}

.chat {
    padding: 2%;
}

.video {
    padding: 2%
}

.sendButton {
    color: #FFFFFF !important;
    background-color: #0277BD !important;
}

.sendText {
    width: 100%;
}

.profileImage {
    width: 250px;
    height: 250px;
}