.allFont {
    color: #FFFFFF;
}

.centerText {
    text-align: center;
}

.parentGrid {
    background-color: #53718A;
}

.matchButton {
    color: #FFFFFF !important;
    background-color: #D288A2 !important;
    width: 250px;
    margin: 3% !important;
}

.unmatchButton {
    color: #FFFFFF !important;
    background-color: #FF5252 !important;
    width: 250px;
    margin: 3% !important;
}

.chatSection {
    padding: 2%;
}

.videoSection {
    padding: 2%
}