.grid {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
}

.gridContainer {
  padding-top: 2%;
  padding-right: 5%;
}

.title {
  font-weight: bold !important;
}

.commentButton {
  background-color: var(--ORANGE) !important;
  color: var(--WHITE) !important;
  margin-top: 1% !important;
  width: 10%;
}

.commentContainer {
  padding: 3%;
}

.comment {
  margin-bottom: 3% !important;
}

.commentName {
  padding-bottom: 1%;
  font-weight: bold !important;
}
