.navColor {
    background-color: #1B263B!important;
}

.nav {
    position:absolute;
    right: 0%;
}

.navIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleSpacing {
    padding: 0px;
    margin: 0px;
    font-size: small;
}

.logo {
    height: 100%;
}
