.container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

.createManageButton {
  color: var(--WHITE) !important;
  background-color: var(--ORANGE) !important;
  width: 250px !important;
}

.sortButtonContainer {
  width: 8% !important;
  min-width: 150px !important;
  margin-bottom: 1% !important;
}

.sortButton {
  background-color: var(--WHITE) !important;
}

.sortText {
  color: var(--WHITE) !important;
}
