:root {
  /* Colour Theme */
  --MIDBLUE: #415a77;
  --DARKBLUE: #1b263b;
  --LIGHTBLUE: #03a9f4;
  /* Button colours */
  --PINK: #d288a2;
  --GREEN: #00c853;
  --RED: #ff5252;
  --ORANGE: #f9ab55;
  --DEEPBLUE: #0277bd;
  /* Text message */
  --GREY: #e7e7e7;
  --DEEPGREEN: #39c16c;
  --WHITE: #ffffff;
}

/* Alignment */
.empty-navbar-gap {
  margin-top: 8%;
}

.center-text {
  text-align: center;
}

/* Font Settings */
.primary-font {
  color: var(--WHITE);
}

/* Buttons */
.green-button {
  color: var(--WHITE) !important;
  background-color: var(--GREEN) !important;
  width: 250px !important;
  margin: 3% !important;
}

.red-button {
  color: var(--WHITE) !important;
  background-color: var(--RED) !important;
  width: 250px !important;
  margin: 3% !important;
}

.blue-button {
  color: var(--WHITE) !important;
  background-color: var(--LIGHTBLUE) !important;
  width: 250px !important;
  margin: 3% !important;
}
