.allFont {
  color: #ffffff;
}

.centerText {
  text-align: center;
}

.matchButton {
  color: #ffffff !important;
  background-color: #d288a2 !important;
  width: 250px;
  margin: 3% !important;
}

.cancelMatchButton {
  color: #ffffff !important;
  background-color: #dc143c !important;
  width: 250px;
  margin: 3% !important;
}

.spinner {
  margin: 5%;
}
