.pictureContainer {
  width: 40%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 240px !important;
  width: 240px !important;
}

.editPictureButton {
  padding-left: 8% !important;
  padding-right: 8% !important;
  margin-top: 40px !important;
  color: #ffffff !important;
  background-color: #03a9f4 !important;
  height: 5% !important;
  width: auto !important;
}

.changeProfileButton:hover {
  /* background-color: #ffffff !important; */
  opacity: 80% !important;
}
